.about 
    height: auto
    background: $color-theme-trans
    padding: 50px 30px
    h2
        font-family: $font-header
        font-size: 2em
        padding-bottom: 20px
    .aboutText
        text-align: left
        padding: 0 30px
        line-height: 1.4
        p
            font-family: $font-main
.centerBtn
    text-align: center
    margin-top: 10px
.resumeLink
    margin: 0 auto
    text-decoration: none
    color: $color-font
    font-family: $font-main
    padding: 8px
    border: 2px transparent solid
.resumeLink:hover
    border: 2px $color-font solid

.linkedInLink
    color: $color-font

.contactLink
    color: $color-font

@media (min-width: $bp-tablet)
    .aboutText 
        width: 500px
        margin: 0 auto
            