.footer 
    box-sizing: border-box
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-content: center
    height: auto
    padding-top: 30px
    padding-bottom: 20px
    .titleContainer
        display: block
        text-align: center
        h4    
            display: inline-block
            font-family: $font-header
            font-size: 1.5rem
            text-align: center
            padding: 10px 10px 6px 10px
            border: 2px transparent solid

        .icon
            height: 50px
            color: $color-font
            margin: 10px
.nameLink
    text-decoration: none
    color: $color-font
    &:hover h4
        border: 2px $color-font solid
 