// .workTitle
//     font-family: $font-header
//     font-size: 1.8
//     margin-bottom: 15px

a
    cursor: pointer

.imageSlider
    position: relative
    object-fit: contain
    width: 300px
    margin: 0 auto 15px auto
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    .image
        height: 150px
        width: auto
        display: relative
        opacity: 1
        transition: 0.5s ease
    .prevArrow
        position: absolute
        top: 40%
        left: -20px
        padding: 3px 10px
        font-size: 2rem
        cursor: pointer
        user-select: none
        z-index: 10
    .nextArrow
        position: absolute
        top: 40%
        right: -20px
        padding: 3px 10px
        font-size: 2rem
        cursor: pointer
        user-select: none
        z-index: 10
    .slide
        opacity: 0
        transition: 1s ease-in-out
    .slide.active
        opacity: 1
        transition: 1s
        transform: scale(1.05)
    // .visitSite
    //     display: inline-block
    //     background: $color-font
    //     font-family: $font-main
    //     padding: 10px
    //     color: rgb(40, 40, 40)
    //     position: absolute
    //     left: 50%
    //     transform: translate(-50%, -50%)
    //     z-index: 10
    //     top: 50%
    //     opacity: 0
    //     transition: .5s
    // .image:hover .visitSite
    //     opacity: .4
    // .image .visitSite
    //     opacity: 1
    
@media (min-width: $bp-mobile)
    .imageSlider
        width: 400px
        .image
            height: 200px
        .prevArrow
            top: 40%
            left: -20px
        .nextArrow
            top: 40%
            right: -20px

@media (min-width: 1000px)
    .imageSlider
        width: 500px
        .image 
            height: 250px

    

