.imageSlider
    position: relative
    height: 55vh
    display: flex
    justify-content: center
    align-content: center
    .image
        height: 200px
    .prevArrow
        position: absolute
        top: 60%
        left: 23px
        padding: 3px 10px
        font-size: 2rem
        cursor: pointer
        user-select: none
    .nextArrow
        position: absolute
        top: 60%
        right: 23px
        padding: 3px 10px
        font-size: 2rem
        cursor: pointer
        user-select: none
    .slide
        opacity: 0
        transition: 1s ease-in-out
    .slide.active
        opacity: 1
        transition: 1s
        transform: scale(1.05)

